*, *::after, *::before {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #F1E4D4;
  height: 100vh;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-img {
  height: 626px;
  width: 450px;
  max-width: 100%;
  position:fixed;
  bottom:0px;
  background-image: url('images/2e4b5d189022e52f6eefc4e6b2ee5977-flipped.jpg');
  background-size: cover;
  z-index: -99;
}

.background-img > span {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.app-container {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  margin-top: 60px;
  font-size: 24px;
  align-items: center;
}

.nav-wrapper {
  flex: 2;
}

.nav-item {
  margin-left: 15px;
}

.nav-pic {
  height: 61px;
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  font-family: 'Playfair Display';
}

h2 {
  font-family: 'Playfair Display';
}

.page-content-home {
  margin-top: 80px;
  margin-left: 40%;
  max-width: 776px;
  height: inherit;
}

a {
  color: white;
  transition: 0.3s;
}

a:hover {
  background-color: #D9EB91;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.home-background {
  height: 626px;
  width: 605px;
  max-width: 100%;
  position: absolute;
  top: 90px;
  background-image: url('images/ellipse-home.svg');
  background-repeat: no-repeat;
  z-index: -1;
}

.mood-list {
  list-style: none;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  padding-left: 0;
}

.mood-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 326px;
  height: 82px;
  background-color: #C3D480;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: inherit;
  text-shadow: inherit;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.mood-button:hover {
  cursor: pointer;
  background-color: #e2f595;
}

