.credits {
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Playfair Display';
}

.credits-background {
    width: 90%;
    background-color: rgb(185 178 128);
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    border: 10px #C3D480 solid;
}

.credits-background > p, .license-link {
    font-size: 15px;
}

.license {
    font-weight: bold;
}

